*{
    margin: 0;
}
body{
    background-color: #E1EEBC;
}
.navbarContainer{
    width: 100%;
    background-color: #90C67C;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;    
}
.menu{
    width: 60%;
    

}
.menu > ul{
    display: flex;

}
.menu > ul >li{
    list-style: none;
  
    border: 1px solid #90C67C;
    padding: 20px 50px;
}
.menu >ul> li > a{
    text-decoration: none;
    color: inherit;
   
}
.menu ul>  li:hover{
    
    color: #E1EEBC;
    background-color: #67AE6E;
}
.search{
    width: 20%;
    display: flex;
    gap: 10px;
    padding: 20px 5px;
}
.dropDownParent{
    position: relative;
}
.dropDown{
    display: none;
    position: absolute;
    background-color: aliceblue;
    color: black;
}
.dropDown li{
    list-style: none;
    border: 1px solid #90C67C;
    padding: 20px 50px;

}
.menu > ul >li:hover .dropDown {
    display: block;
}
