<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout example</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <!-- navbar section  -->
     <div class="nav-main-container">
        <div class="logo">
            <img src="./images/logo.png" alt="kabir logo" width="100px">
        </div>
        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="search" name="" id="">
            <button>Search </button>
        </div>
     </div>

     <!-- main body section  -->
      <div class="main-body-container">
        <div class="side-bar">

            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contact</a></li>
            </ul>

        </div>
        <div class="imag"><img src="./images/cover.jpg" alt="" height="300px" width="100%" style="object-fit:cover;"></div>
        <div class="bottom-left">bottom left</div>
        <div class="bottom-right">bottom right</div>
      </div>

      <!-- footer section  -->
       <div class="footer">
        footer
       </div>
</body>
</html>